//auto compile
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700&amp;subset=cyrillic,cyrillic-ext');

$color-main: #111;
$color-secondary: #666;
$color-bg: #eee;

@import './ui/ui';
@import './board/board';
@import './home/home';
