@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700&amp;subset=cyrillic,cyrillic-ext");
.floating-text {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.floating-text .inner {
  transform: rotateZ(-4deg);
}

.floating-text .text {
  position: absolute;
  font-size: 8rem;
  color: #fff;
  line-height: 8rem;
  font-family: 'Anton', sans-serif;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  letter-spacing: 0.5rem;
  overflow: hidden;
}

.floating-text .text:nth-child(1) {
  color: #c42894;
  clip-path: polygon(-2% -1%, 8% -11%, 8% 51%, -2% 67%);
  filter: blur(-1px);
}

.floating-text .text:nth-child(1) .text_inner1 {
  animation: vertical 1187ms 72ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(1) .text_inner2 {
  animation: horizontal 1194ms 86ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) {
  color: #522886;
  clip-path: polygon(3% -4%, 15% -16%, 11% 55%, 4% 57%);
  filter: blur(1px);
}

.floating-text .text:nth-child(2) .text_inner1 {
  animation: vertical 1227ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) .text_inner2 {
  animation: horizontal 1456ms 63ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) {
  color: #93289d;
  clip-path: polygon(9% -3%, 17% -4%, 16% 52%, 8% 76%);
  filter: blur(-8px);
}

.floating-text .text:nth-child(3) .text_inner1 {
  animation: vertical 1602ms 92ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) .text_inner2 {
  animation: horizontal 906ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) {
  color: #582899;
  clip-path: polygon(13% -3%, 25% -17%, 22% 55%, 14% 60%);
  filter: blur(-2px);
}

.floating-text .text:nth-child(4) .text_inner1 {
  animation: vertical 1382ms 3ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) .text_inner2 {
  animation: horizontal 1108ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) {
  color: #5128a6;
  clip-path: polygon(18% -3%, 26% -22%, 26% 51%, 18% 58%);
  filter: blur(-5px);
}

.floating-text .text:nth-child(5) .text_inner1 {
  animation: vertical 746ms 32ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) .text_inner2 {
  animation: horizontal 1349ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) {
  color: #fc28bd;
  clip-path: polygon(24% -2%, 33% -7%, 31% 54%, 23% 55%);
  filter: blur(2px);
}

.floating-text .text:nth-child(6) .text_inner1 {
  animation: vertical 1211ms 26ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) .text_inner2 {
  animation: horizontal 1280ms 99ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) {
  color: #fb28ab;
  clip-path: polygon(28% -1%, 38% -23%, 37% 52%, 29% 71%);
  filter: blur(-6px);
}

.floating-text .text:nth-child(7) .text_inner1 {
  animation: vertical 1305ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) .text_inner2 {
  animation: horizontal 1416ms 48ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) {
  color: #6e28e4;
  clip-path: polygon(34% -2%, 44% -7%, 44% 51%, 34% 77%);
  filter: blur(6px);
}

.floating-text .text:nth-child(8) .text_inner1 {
  animation: vertical 1495ms 81ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) .text_inner2 {
  animation: horizontal 1495ms 16ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) {
  color: #d428a8;
  clip-path: polygon(39% -4%, 49% -18%, 50% 55%, 39% 76%);
  filter: blur(4px);
}

.floating-text .text:nth-child(9) .text_inner1 {
  animation: vertical 1346ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) .text_inner2 {
  animation: horizontal 1297ms 30ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) {
  color: #422841;
  clip-path: polygon(43% -1%, 53% -12%, 53% 51%, 44% 67%);
  filter: blur(0px);
}

.floating-text .text:nth-child(10) .text_inner1 {
  animation: vertical 1462ms 97ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) .text_inner2 {
  animation: horizontal 1428ms 81ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) {
  color: #db2848;
  clip-path: polygon(48% -4%, 57% -30%, 60% 55%, 49% 66%);
  filter: blur(1px);
}

.floating-text .text:nth-child(11) .text_inner1 {
  animation: vertical 1694ms 17ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) .text_inner2 {
  animation: horizontal 978ms 20ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) {
  color: #7b2847;
  clip-path: polygon(54% -3%, 64% -15%, 61% 51%, 53% 69%);
  filter: blur(-6px);
}

.floating-text .text:nth-child(12) .text_inner1 {
  animation: vertical 1431ms 96ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) .text_inner2 {
  animation: horizontal 1320ms 18ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) {
  color: #f7286e;
  clip-path: polygon(59% -2%, 70% -1%, 67% 55%, 59% 55%);
  filter: blur(-2px);
}

.floating-text .text:nth-child(13) .text_inner1 {
  animation: vertical 1371ms 52ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) .text_inner2 {
  animation: horizontal 1039ms 69ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) {
  color: #6728c7;
  clip-path: polygon(64% -5%, 72% -16%, 74% 54%, 64% 75%);
  filter: blur(6px);
}

.floating-text .text:nth-child(14) .text_inner1 {
  animation: vertical 1576ms 69ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) .text_inner2 {
  animation: horizontal 1326ms 42ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) {
  color: #5e28ac;
  clip-path: polygon(68% -4%, 77% -3%, 77% 55%, 68% 57%);
  filter: blur(2px);
}

.floating-text .text:nth-child(15) .text_inner1 {
  animation: vertical 1377ms 58ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) .text_inner2 {
  animation: horizontal 729ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) {
  color: #912876;
  clip-path: polygon(74% -3%, 82% -16%, 84% 55%, 74% 67%);
  filter: blur(-3px);
}

.floating-text .text:nth-child(16) .text_inner1 {
  animation: vertical 1117ms 15ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) .text_inner2 {
  animation: horizontal 937ms 97ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) {
  color: #4428e3;
  clip-path: polygon(79% -2%, 89% -22%, 90% 51%, 78% 72%);
  filter: blur(2px);
}

.floating-text .text:nth-child(17) .text_inner1 {
  animation: vertical 1505ms 9ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) .text_inner2 {
  animation: horizontal 1694ms 25ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) {
  color: #bf28bb;
  clip-path: polygon(84% -4%, 95% -18%, 93% 52%, 83% 70%);
  filter: blur(8px);
}

.floating-text .text:nth-child(18) .text_inner1 {
  animation: vertical 1410ms 41ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) .text_inner2 {
  animation: horizontal 1255ms 37ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) {
  color: #892870;
  clip-path: polygon(88% -3%, 98% -2%, 96% 51%, 88% 78%);
  filter: blur(-7px);
}

.floating-text .text:nth-child(19) .text_inner1 {
  animation: vertical 866ms 68ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) .text_inner2 {
  animation: horizontal 834ms 42ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) {
  color: #a628eb;
  clip-path: polygon(94% -5%, 105% -7%, 104% 51%, 93% 71%);
  filter: blur(3px);
}

.floating-text .text:nth-child(20) .text_inner1 {
  animation: vertical 793ms 82ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) .text_inner2 {
  animation: horizontal 1654ms 66ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) {
  color: #6f28bf;
  clip-path: polygon(-1% 45%, 8% 30%, 10% 103%, -1% 111%);
  filter: blur(6px);
}

.floating-text .text:nth-child(21) .text_inner1 {
  animation: vertical 847ms 53ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) .text_inner2 {
  animation: horizontal 1275ms 50ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) {
  color: #5128a7;
  clip-path: polygon(3% 47%, 15% 43%, 11% 103%, 4% 112%);
  filter: blur(6px);
}

.floating-text .text:nth-child(22) .text_inner1 {
  animation: vertical 1292ms 56ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) .text_inner2 {
  animation: horizontal 1050ms 3ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) {
  color: #a828e8;
  clip-path: polygon(9% 49%, 19% 27%, 17% 101%, 9% 121%);
  filter: blur(-9px);
}

.floating-text .text:nth-child(23) .text_inner1 {
  animation: vertical 1268ms 23ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) .text_inner2 {
  animation: horizontal 1138ms 13ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) {
  color: #5c2851;
  clip-path: polygon(13% 47%, 22% 37%, 21% 104%, 13% 127%);
  filter: blur(4px);
}

.floating-text .text:nth-child(24) .text_inner1 {
  animation: vertical 729ms 36ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) .text_inner2 {
  animation: horizontal 1077ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) {
  color: #fc28bf;
  clip-path: polygon(19% 46%, 29% 38%, 29% 102%, 19% 113%);
  filter: blur(-3px);
}

.floating-text .text:nth-child(25) .text_inner1 {
  animation: vertical 1415ms 72ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) .text_inner2 {
  animation: horizontal 1534ms 47ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) {
  color: #f92855;
  clip-path: polygon(23% 48%, 34% 43%, 33% 101%, 23% 120%);
  filter: blur(-7px);
}

.floating-text .text:nth-child(26) .text_inner1 {
  animation: vertical 1579ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) .text_inner2 {
  animation: horizontal 1364ms 14ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) {
  color: #582869;
  clip-path: polygon(28% 45%, 40% 44%, 36% 104%, 28% 117%);
  filter: blur(-2px);
}

.floating-text .text:nth-child(27) .text_inner1 {
  animation: vertical 1093ms 22ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) .text_inner2 {
  animation: horizontal 1061ms 88ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) {
  color: #b5283a;
  clip-path: polygon(34% 46%, 45% 36%, 44% 103%, 34% 109%);
  filter: blur(5px);
}

.floating-text .text:nth-child(28) .text_inner1 {
  animation: vertical 1576ms 1ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) .text_inner2 {
  animation: horizontal 806ms 16ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) {
  color: #5e286d;
  clip-path: polygon(39% 47%, 48% 45%, 47% 102%, 39% 103%);
  filter: blur(-1px);
}

.floating-text .text:nth-child(29) .text_inner1 {
  animation: vertical 826ms 21ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) .text_inner2 {
  animation: horizontal 1235ms 95ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) {
  color: #e72848;
  clip-path: polygon(44% 46%, 55% 21%, 52% 101%, 44% 101%);
  filter: blur(2px);
}

.floating-text .text:nth-child(30) .text_inner1 {
  animation: vertical 787ms 43ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) .text_inner2 {
  animation: horizontal 1516ms 11ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) {
  color: #ad28d6;
  clip-path: polygon(49% 45%, 59% 28%, 58% 101%, 48% 111%);
  filter: blur(10px);
}

.floating-text .text:nth-child(31) .text_inner1 {
  animation: vertical 1627ms 14ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) .text_inner2 {
  animation: horizontal 1328ms 25ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) {
  color: #c828e6;
  clip-path: polygon(54% 48%, 61% 47%, 63% 101%, 53% 120%);
  filter: blur(-4px);
}

.floating-text .text:nth-child(32) .text_inner1 {
  animation: vertical 1562ms 51ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) .text_inner2 {
  animation: horizontal 1258ms 7ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) {
  color: #7b2887;
  clip-path: polygon(58% 49%, 69% 39%, 68% 103%, 59% 109%);
  filter: blur(1px);
}

.floating-text .text:nth-child(33) .text_inner1 {
  animation: vertical 1626ms 75ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) .text_inner2 {
  animation: horizontal 1320ms 6ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) {
  color: #8a28d5;
  clip-path: polygon(64% 47%, 74% 46%, 75% 102%, 63% 118%);
  filter: blur(4px);
}

.floating-text .text:nth-child(34) .text_inner1 {
  animation: vertical 1642ms 65ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) .text_inner2 {
  animation: horizontal 1298ms 11ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) {
  color: #ce28c2;
  clip-path: polygon(69% 46%, 76% 33%, 76% 101%, 69% 130%);
  filter: blur(7px);
}

.floating-text .text:nth-child(35) .text_inner1 {
  animation: vertical 1537ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) .text_inner2 {
  animation: horizontal 1150ms 91ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) {
  color: #8c2871;
  clip-path: polygon(74% 46%, 85% 45%, 83% 102%, 73% 114%);
  filter: blur(-3px);
}

.floating-text .text:nth-child(36) .text_inner1 {
  animation: vertical 1657ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) .text_inner2 {
  animation: horizontal 1003ms 5ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) {
  color: #6c2873;
  clip-path: polygon(78% 46%, 90% 49%, 86% 104%, 78% 114%);
  filter: blur(-7px);
}

.floating-text .text:nth-child(37) .text_inner1 {
  animation: vertical 1042ms 3ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) .text_inner2 {
  animation: horizontal 1430ms 64ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) {
  color: #cf2889;
  clip-path: polygon(84% 49%, 92% 48%, 93% 105%, 83% 130%);
  filter: blur(-5px);
}

.floating-text .text:nth-child(38) .text_inner1 {
  animation: vertical 1193ms 68ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) .text_inner2 {
  animation: horizontal 1003ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) {
  color: #8528d5;
  clip-path: polygon(89% 45%, 96% 32%, 97% 103%, 88% 117%);
  filter: blur(1px);
}

.floating-text .text:nth-child(39) .text_inner1 {
  animation: vertical 1262ms 18ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) .text_inner2 {
  animation: horizontal 874ms 54ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) {
  color: #a828c9;
  clip-path: polygon(94% 46%, 101% 33%, 102% 102%, 94% 127%);
  filter: blur(-6px);
}

.floating-text .text:nth-child(40) .text_inner1 {
  animation: vertical 866ms 82ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) .text_inner2 {
  animation: horizontal 1205ms 51ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) {
  color: #3c2881;
  clip-path: polygon(-1% 97%, 7% 78%, 7% 155%, -1% 164%);
  filter: blur(9px);
}

.floating-text .text:nth-child(41) .text_inner1 {
  animation: vertical 953ms 59ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) .text_inner2 {
  animation: horizontal 885ms 5ms ease-in-out infinite alternate;
}

@keyframes horizontal {
  0% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-6px);
  }
}

@keyframes vertical {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.floating-text.full-screen {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: #eee;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease;
}

.floating-text.full-screen.fade {
  opacity: 0;
}

.floating-text.full-screen.hidden {
  display: none;
  z-index: 0;
}

.floating-text.full-screen {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: #eee;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease;
}

.floating-text.full-screen.fade {
  opacity: 0;
}

.floating-text.full-screen.hidden {
  display: none;
  z-index: 0;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list table {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list table tr:hover {
  cursor: pointer;
}

.list table tr:hover h5, .list table tr:hover small, .list table tr:hover td:first-child span {
  background-color: rgba(86, 40, 243, 0.5);
  color: #eee;
  box-shadow: 0 0 0 5px rgba(86, 40, 243, 0.5);
}

.list table tr:hover td:first-child span {
  right: 0;
}

.list table tr td {
  padding: 0;
  border-bottom: 1.5rem solid transparent;
}

.list table tr td:first-child {
  font-size: 4rem;
  line-height: 4rem;
  text-align: right;
  color: #111;
  font-weight: 600;
  overflow: hidden;
}

.list table tr td:first-child span {
  transition: .1s right ease-in-out;
  position: relative;
  right: -12px;
}

.list table tr td:last-child h5 {
  display: inline;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 600px;
}

.list table tr td:last-child small {
  font-weight: 100;
  line-height: 2rem;
  color: #bbb;
  position: relative;
  top: -4px;
}

.single {
  display: flex;
}

.single .video {
  width: 100%;
}

.single .detail {
  flex-basis: 300px;
  display: block;
  height: 100vh;
  width: 300px;
  flex: 1;
}

* {
  font-family: 'Arimo', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee;
  color: #eee;
}
