.floating-text {
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.floating-text .inner {
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
}

.floating-text .text {
  position: absolute;
  font-size: 8rem;
  color: #fff;
  line-height: 8rem;
  font-family: 'Anton', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  letter-spacing: 0.5rem;
  overflow: hidden;
}

.floating-text .text:nth-child(1) {
  color: #60289a;
  -webkit-clip-path: polygon(-2% -4%, 6% -6%, 10% 53%, -2% 80%);
  clip-path: polygon(-2% -4%, 6% -6%, 10% 53%, -2% 80%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(1) .text_inner1 {
  -webkit-animation: vertical 1407ms 16ms ease-in-out infinite alternate;
  animation: vertical 1407ms 16ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(1) .text_inner2 {
  -webkit-animation: horizontal 1251ms 95ms ease-in-out infinite alternate;
  animation: horizontal 1251ms 95ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) {
  color: #a528a0;
  -webkit-clip-path: polygon(3% -1%, 11% -29%, 14% 53%, 3% 63%);
  clip-path: polygon(3% -1%, 11% -29%, 14% 53%, 3% 63%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.floating-text .text:nth-child(2) .text_inner1 {
  -webkit-animation: vertical 870ms 35ms ease-in-out infinite alternate;
  animation: vertical 870ms 35ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) .text_inner2 {
  -webkit-animation: horizontal 1518ms 48ms ease-in-out infinite alternate;
  animation: horizontal 1518ms 48ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) {
  color: #4028d3;
  -webkit-clip-path: polygon(9% -1%, 16% -16%, 20% 53%, 8% 69%);
  clip-path: polygon(9% -1%, 16% -16%, 20% 53%, 8% 69%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.floating-text .text:nth-child(3) .text_inner1 {
  -webkit-animation: vertical 1529ms 10ms ease-in-out infinite alternate;
  animation: vertical 1529ms 10ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) .text_inner2 {
  -webkit-animation: horizontal 1186ms 95ms ease-in-out infinite alternate;
  animation: horizontal 1186ms 95ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) {
  color: #db2882;
  -webkit-clip-path: polygon(14% -4%, 24% -17%, 25% 52%, 14% 52%);
  clip-path: polygon(14% -4%, 24% -17%, 25% 52%, 14% 52%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(4) .text_inner1 {
  -webkit-animation: vertical 1173ms 14ms ease-in-out infinite alternate;
  animation: vertical 1173ms 14ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) .text_inner2 {
  -webkit-animation: horizontal 799ms 75ms ease-in-out infinite alternate;
  animation: horizontal 799ms 75ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) {
  color: #ea2855;
  -webkit-clip-path: polygon(18% -5%, 28% -26%, 29% 54%, 18% 80%);
  clip-path: polygon(18% -5%, 28% -26%, 29% 54%, 18% 80%);
  -webkit-filter: blur(-4px);
  filter: blur(-4px);
}

.floating-text .text:nth-child(5) .text_inner1 {
  -webkit-animation: vertical 921ms 76ms ease-in-out infinite alternate;
  animation: vertical 921ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) .text_inner2 {
  -webkit-animation: horizontal 1692ms 12ms ease-in-out infinite alternate;
  animation: horizontal 1692ms 12ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) {
  color: #4a2881;
  -webkit-clip-path: polygon(23% -4%, 31% -10%, 32% 55%, 23% 63%);
  clip-path: polygon(23% -4%, 31% -10%, 32% 55%, 23% 63%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(6) .text_inner1 {
  -webkit-animation: vertical 1655ms 56ms ease-in-out infinite alternate;
  animation: vertical 1655ms 56ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) .text_inner2 {
  -webkit-animation: horizontal 1514ms 32ms ease-in-out infinite alternate;
  animation: horizontal 1514ms 32ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) {
  color: #4128a4;
  -webkit-clip-path: polygon(29% -1%, 36% -11%, 38% 54%, 28% 79%);
  clip-path: polygon(29% -1%, 36% -11%, 38% 54%, 28% 79%);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.floating-text .text:nth-child(7) .text_inner1 {
  -webkit-animation: vertical 767ms 53ms ease-in-out infinite alternate;
  animation: vertical 767ms 53ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) .text_inner2 {
  -webkit-animation: horizontal 950ms 66ms ease-in-out infinite alternate;
  animation: horizontal 950ms 66ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) {
  color: #6c28dd;
  -webkit-clip-path: polygon(34% -3%, 42% -17%, 44% 52%, 34% 72%);
  clip-path: polygon(34% -3%, 42% -17%, 44% 52%, 34% 72%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(8) .text_inner1 {
  -webkit-animation: vertical 1531ms 2ms ease-in-out infinite alternate;
  animation: vertical 1531ms 2ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) .text_inner2 {
  -webkit-animation: horizontal 1547ms 73ms ease-in-out infinite alternate;
  animation: horizontal 1547ms 73ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) {
  color: #52287b;
  -webkit-clip-path: polygon(38% -3%, 47% -7%, 48% 51%, 39% 78%);
  clip-path: polygon(38% -3%, 47% -7%, 48% 51%, 39% 78%);
  -webkit-filter: blur(-8px);
  filter: blur(-8px);
}

.floating-text .text:nth-child(9) .text_inner1 {
  -webkit-animation: vertical 1698ms 92ms ease-in-out infinite alternate;
  animation: vertical 1698ms 92ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) .text_inner2 {
  -webkit-animation: horizontal 1371ms 64ms ease-in-out infinite alternate;
  animation: horizontal 1371ms 64ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) {
  color: #9228d5;
  -webkit-clip-path: polygon(44% -3%, 52% -28%, 51% 52%, 44% 73%);
  clip-path: polygon(44% -3%, 52% -28%, 51% 52%, 44% 73%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(10) .text_inner1 {
  -webkit-animation: vertical 1413ms 12ms ease-in-out infinite alternate;
  animation: vertical 1413ms 12ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) .text_inner2 {
  -webkit-animation: horizontal 1473ms 21ms ease-in-out infinite alternate;
  animation: horizontal 1473ms 21ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) {
  color: #8d2861;
  -webkit-clip-path: polygon(48% -1%, 60% -1%, 60% 54%, 49% 64%);
  clip-path: polygon(48% -1%, 60% -1%, 60% 54%, 49% 64%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(11) .text_inner1 {
  -webkit-animation: vertical 1250ms 69ms ease-in-out infinite alternate;
  animation: vertical 1250ms 69ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) .text_inner2 {
  -webkit-animation: horizontal 1378ms 85ms ease-in-out infinite alternate;
  animation: horizontal 1378ms 85ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) {
  color: #4328d8;
  -webkit-clip-path: polygon(53% -1%, 65% -5%, 63% 54%, 53% 54%);
  clip-path: polygon(53% -1%, 65% -5%, 63% 54%, 53% 54%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(12) .text_inner1 {
  -webkit-animation: vertical 1472ms 54ms ease-in-out infinite alternate;
  animation: vertical 1472ms 54ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) .text_inner2 {
  -webkit-animation: horizontal 983ms 54ms ease-in-out infinite alternate;
  animation: horizontal 983ms 54ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) {
  color: #5228b1;
  -webkit-clip-path: polygon(59% -3%, 67% -9%, 68% 53%, 58% 77%);
  clip-path: polygon(59% -3%, 67% -9%, 68% 53%, 58% 77%);
  -webkit-filter: blur(-1px);
  filter: blur(-1px);
}

.floating-text .text:nth-child(13) .text_inner1 {
  -webkit-animation: vertical 1418ms 62ms ease-in-out infinite alternate;
  animation: vertical 1418ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) .text_inner2 {
  -webkit-animation: horizontal 763ms 31ms ease-in-out infinite alternate;
  animation: horizontal 763ms 31ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) {
  color: #5e28b8;
  -webkit-clip-path: polygon(63% -4%, 75% -26%, 72% 55%, 64% 70%);
  clip-path: polygon(63% -4%, 75% -26%, 72% 55%, 64% 70%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(14) .text_inner1 {
  -webkit-animation: vertical 972ms 93ms ease-in-out infinite alternate;
  animation: vertical 972ms 93ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) .text_inner2 {
  -webkit-animation: horizontal 1586ms 43ms ease-in-out infinite alternate;
  animation: horizontal 1586ms 43ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) {
  color: #66284b;
  -webkit-clip-path: polygon(69% -3%, 79% -7%, 77% 55%, 68% 65%);
  clip-path: polygon(69% -3%, 79% -7%, 77% 55%, 68% 65%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(15) .text_inner1 {
  -webkit-animation: vertical 791ms 26ms ease-in-out infinite alternate;
  animation: vertical 791ms 26ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) .text_inner2 {
  -webkit-animation: horizontal 1670ms 34ms ease-in-out infinite alternate;
  animation: horizontal 1670ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) {
  color: #a8283b;
  -webkit-clip-path: polygon(74% -3%, 81% -23%, 82% 51%, 74% 70%);
  clip-path: polygon(74% -3%, 81% -23%, 82% 51%, 74% 70%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(16) .text_inner1 {
  -webkit-animation: vertical 763ms 34ms ease-in-out infinite alternate;
  animation: vertical 763ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) .text_inner2 {
  -webkit-animation: horizontal 1408ms 37ms ease-in-out infinite alternate;
  animation: horizontal 1408ms 37ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) {
  color: #53285e;
  -webkit-clip-path: polygon(78% -5%, 86% -19%, 88% 53%, 79% 80%);
  clip-path: polygon(78% -5%, 86% -19%, 88% 53%, 79% 80%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(17) .text_inner1 {
  -webkit-animation: vertical 1106ms 15ms ease-in-out infinite alternate;
  animation: vertical 1106ms 15ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) .text_inner2 {
  -webkit-animation: horizontal 1489ms 89ms ease-in-out infinite alternate;
  animation: horizontal 1489ms 89ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) {
  color: #dd2892;
  -webkit-clip-path: polygon(84% -3%, 95% -27%, 91% 54%, 84% 56%);
  clip-path: polygon(84% -3%, 95% -27%, 91% 54%, 84% 56%);
  -webkit-filter: blur(-4px);
  filter: blur(-4px);
}

.floating-text .text:nth-child(18) .text_inner1 {
  -webkit-animation: vertical 859ms 26ms ease-in-out infinite alternate;
  animation: vertical 859ms 26ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) .text_inner2 {
  -webkit-animation: horizontal 778ms 48ms ease-in-out infinite alternate;
  animation: horizontal 778ms 48ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) {
  color: #9e2864;
  -webkit-clip-path: polygon(88% -1%, 100% -2%, 96% 51%, 88% 68%);
  clip-path: polygon(88% -1%, 100% -2%, 96% 51%, 88% 68%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(19) .text_inner1 {
  -webkit-animation: vertical 1537ms 29ms ease-in-out infinite alternate;
  animation: vertical 1537ms 29ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) .text_inner2 {
  -webkit-animation: horizontal 997ms 100ms ease-in-out infinite alternate;
  animation: horizontal 997ms 100ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) {
  color: #d928c8;
  -webkit-clip-path: polygon(94% -5%, 105% -5%, 103% 55%, 94% 64%);
  clip-path: polygon(94% -5%, 105% -5%, 103% 55%, 94% 64%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(20) .text_inner1 {
  -webkit-animation: vertical 1641ms 75ms ease-in-out infinite alternate;
  animation: vertical 1641ms 75ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) .text_inner2 {
  -webkit-animation: horizontal 1437ms 96ms ease-in-out infinite alternate;
  animation: horizontal 1437ms 96ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) {
  color: #b728db;
  -webkit-clip-path: polygon(-1% 48%, 9% 32%, 8% 105%, -1% 105%);
  clip-path: polygon(-1% 48%, 9% 32%, 8% 105%, -1% 105%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(21) .text_inner1 {
  -webkit-animation: vertical 1600ms 94ms ease-in-out infinite alternate;
  animation: vertical 1600ms 94ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) .text_inner2 {
  -webkit-animation: horizontal 761ms 33ms ease-in-out infinite alternate;
  animation: horizontal 761ms 33ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) {
  color: #8e28dc;
  -webkit-clip-path: polygon(3% 45%, 11% 46%, 14% 103%, 3% 106%);
  clip-path: polygon(3% 45%, 11% 46%, 14% 103%, 3% 106%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(22) .text_inner1 {
  -webkit-animation: vertical 1217ms 91ms ease-in-out infinite alternate;
  animation: vertical 1217ms 91ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) .text_inner2 {
  -webkit-animation: horizontal 859ms 68ms ease-in-out infinite alternate;
  animation: horizontal 859ms 68ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) {
  color: #4928ef;
  -webkit-clip-path: polygon(9% 45%, 17% 20%, 19% 104%, 9% 126%);
  clip-path: polygon(9% 45%, 17% 20%, 19% 104%, 9% 126%);
  -webkit-filter: blur(-4px);
  filter: blur(-4px);
}

.floating-text .text:nth-child(23) .text_inner1 {
  -webkit-animation: vertical 1642ms 84ms ease-in-out infinite alternate;
  animation: vertical 1642ms 84ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) .text_inner2 {
  -webkit-animation: horizontal 1282ms 85ms ease-in-out infinite alternate;
  animation: horizontal 1282ms 85ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) {
  color: #d728b8;
  -webkit-clip-path: polygon(14% 46%, 25% 35%, 21% 101%, 13% 101%);
  clip-path: polygon(14% 46%, 25% 35%, 21% 101%, 13% 101%);
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.floating-text .text:nth-child(24) .text_inner1 {
  -webkit-animation: vertical 1686ms 10ms ease-in-out infinite alternate;
  animation: vertical 1686ms 10ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) .text_inner2 {
  -webkit-animation: horizontal 1226ms 28ms ease-in-out infinite alternate;
  animation: horizontal 1226ms 28ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) {
  color: #4e283b;
  -webkit-clip-path: polygon(19% 46%, 27% 44%, 26% 103%, 18% 127%);
  clip-path: polygon(19% 46%, 27% 44%, 26% 103%, 18% 127%);
  -webkit-filter: blur(-8px);
  filter: blur(-8px);
}

.floating-text .text:nth-child(25) .text_inner1 {
  -webkit-animation: vertical 1330ms 96ms ease-in-out infinite alternate;
  animation: vertical 1330ms 96ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) .text_inner2 {
  -webkit-animation: horizontal 1072ms 97ms ease-in-out infinite alternate;
  animation: horizontal 1072ms 97ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) {
  color: #cc286b;
  -webkit-clip-path: polygon(24% 47%, 33% 28%, 35% 101%, 24% 123%);
  clip-path: polygon(24% 47%, 33% 28%, 35% 101%, 24% 123%);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.floating-text .text:nth-child(26) .text_inner1 {
  -webkit-animation: vertical 934ms 44ms ease-in-out infinite alternate;
  animation: vertical 934ms 44ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) .text_inner2 {
  -webkit-animation: horizontal 922ms 61ms ease-in-out infinite alternate;
  animation: horizontal 922ms 61ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) {
  color: #9e28fa;
  -webkit-clip-path: polygon(28% 49%, 40% 20%, 40% 103%, 29% 122%);
  clip-path: polygon(28% 49%, 40% 20%, 40% 103%, 29% 122%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(27) .text_inner1 {
  -webkit-animation: vertical 1435ms 4ms ease-in-out infinite alternate;
  animation: vertical 1435ms 4ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) .text_inner2 {
  -webkit-animation: horizontal 1634ms 10ms ease-in-out infinite alternate;
  animation: horizontal 1634ms 10ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) {
  color: #86287b;
  -webkit-clip-path: polygon(33% 49%, 45% 28%, 41% 104%, 34% 121%);
  clip-path: polygon(33% 49%, 45% 28%, 41% 104%, 34% 121%);
  -webkit-filter: blur(-9px);
  filter: blur(-9px);
}

.floating-text .text:nth-child(28) .text_inner1 {
  -webkit-animation: vertical 1315ms 80ms ease-in-out infinite alternate;
  animation: vertical 1315ms 80ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) .text_inner2 {
  -webkit-animation: horizontal 1129ms 34ms ease-in-out infinite alternate;
  animation: horizontal 1129ms 34ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) {
  color: #7a2867;
  -webkit-clip-path: polygon(38% 45%, 50% 30%, 49% 102%, 39% 109%);
  clip-path: polygon(38% 45%, 50% 30%, 49% 102%, 39% 109%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(29) .text_inner1 {
  -webkit-animation: vertical 1552ms 76ms ease-in-out infinite alternate;
  animation: vertical 1552ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) .text_inner2 {
  -webkit-animation: horizontal 728ms 42ms ease-in-out infinite alternate;
  animation: horizontal 728ms 42ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) {
  color: #c42854;
  -webkit-clip-path: polygon(44% 49%, 52% 22%, 52% 104%, 44% 114%);
  clip-path: polygon(44% 49%, 52% 22%, 52% 104%, 44% 114%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(30) .text_inner1 {
  -webkit-animation: vertical 808ms 20ms ease-in-out infinite alternate;
  animation: vertical 808ms 20ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) .text_inner2 {
  -webkit-animation: horizontal 1661ms 46ms ease-in-out infinite alternate;
  animation: horizontal 1661ms 46ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) {
  color: #c128d1;
  -webkit-clip-path: polygon(49% 49%, 59% 35%, 59% 105%, 48% 115%);
  clip-path: polygon(49% 49%, 59% 35%, 59% 105%, 48% 115%);
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.floating-text .text:nth-child(31) .text_inner1 {
  -webkit-animation: vertical 864ms 29ms ease-in-out infinite alternate;
  animation: vertical 864ms 29ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) .text_inner2 {
  -webkit-animation: horizontal 1388ms 62ms ease-in-out infinite alternate;
  animation: horizontal 1388ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) {
  color: #bf28d5;
  -webkit-clip-path: polygon(54% 46%, 61% 35%, 64% 102%, 54% 108%);
  clip-path: polygon(54% 46%, 61% 35%, 64% 102%, 54% 108%);
  -webkit-filter: blur(-2px);
  filter: blur(-2px);
}

.floating-text .text:nth-child(32) .text_inner1 {
  -webkit-animation: vertical 1098ms 55ms ease-in-out infinite alternate;
  animation: vertical 1098ms 55ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) .text_inner2 {
  -webkit-animation: horizontal 1285ms 81ms ease-in-out infinite alternate;
  animation: horizontal 1285ms 81ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) {
  color: #842864;
  -webkit-clip-path: polygon(59% 46%, 68% 47%, 66% 102%, 58% 105%);
  clip-path: polygon(59% 46%, 68% 47%, 66% 102%, 58% 105%);
  -webkit-filter: blur(-2px);
  filter: blur(-2px);
}

.floating-text .text:nth-child(33) .text_inner1 {
  -webkit-animation: vertical 1579ms 6ms ease-in-out infinite alternate;
  animation: vertical 1579ms 6ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) .text_inner2 {
  -webkit-animation: horizontal 1348ms 5ms ease-in-out infinite alternate;
  animation: horizontal 1348ms 5ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) {
  color: #98289e;
  -webkit-clip-path: polygon(64% 49%, 73% 26%, 72% 101%, 64% 120%);
  clip-path: polygon(64% 49%, 73% 26%, 72% 101%, 64% 120%);
  -webkit-filter: blur(-7px);
  filter: blur(-7px);
}

.floating-text .text:nth-child(34) .text_inner1 {
  -webkit-animation: vertical 1192ms 29ms ease-in-out infinite alternate;
  animation: vertical 1192ms 29ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) .text_inner2 {
  -webkit-animation: horizontal 1428ms 62ms ease-in-out infinite alternate;
  animation: horizontal 1428ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) {
  color: #f628ab;
  -webkit-clip-path: polygon(68% 46%, 80% 20%, 79% 101%, 69% 106%);
  clip-path: polygon(68% 46%, 80% 20%, 79% 101%, 69% 106%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(35) .text_inner1 {
  -webkit-animation: vertical 1243ms 46ms ease-in-out infinite alternate;
  animation: vertical 1243ms 46ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) .text_inner2 {
  -webkit-animation: horizontal 1019ms 30ms ease-in-out infinite alternate;
  animation: horizontal 1019ms 30ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) {
  color: #b22851;
  -webkit-clip-path: polygon(74% 49%, 85% 47%, 82% 104%, 74% 103%);
  clip-path: polygon(74% 49%, 85% 47%, 82% 104%, 74% 103%);
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.floating-text .text:nth-child(36) .text_inner1 {
  -webkit-animation: vertical 926ms 38ms ease-in-out infinite alternate;
  animation: vertical 926ms 38ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) .text_inner2 {
  -webkit-animation: horizontal 777ms 33ms ease-in-out infinite alternate;
  animation: horizontal 777ms 33ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) {
  color: #6128b4;
  -webkit-clip-path: polygon(78% 46%, 90% 47%, 87% 103%, 78% 121%);
  clip-path: polygon(78% 46%, 90% 47%, 87% 103%, 78% 121%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(37) .text_inner1 {
  -webkit-animation: vertical 1276ms 60ms ease-in-out infinite alternate;
  animation: vertical 1276ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) .text_inner2 {
  -webkit-animation: horizontal 848ms 75ms ease-in-out infinite alternate;
  animation: horizontal 848ms 75ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) {
  color: #af28e4;
  -webkit-clip-path: polygon(83% 49%, 91% 35%, 94% 101%, 84% 126%);
  clip-path: polygon(83% 49%, 91% 35%, 94% 101%, 84% 126%);
  -webkit-filter: blur(-9px);
  filter: blur(-9px);
}

.floating-text .text:nth-child(38) .text_inner1 {
  -webkit-animation: vertical 1418ms 41ms ease-in-out infinite alternate;
  animation: vertical 1418ms 41ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) .text_inner2 {
  -webkit-animation: horizontal 1429ms 62ms ease-in-out infinite alternate;
  animation: horizontal 1429ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) {
  color: #b7285f;
  -webkit-clip-path: polygon(89% 48%, 98% 49%, 98% 103%, 88% 124%);
  clip-path: polygon(89% 48%, 98% 49%, 98% 103%, 88% 124%);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.floating-text .text:nth-child(39) .text_inner1 {
  -webkit-animation: vertical 1034ms 92ms ease-in-out infinite alternate;
  animation: vertical 1034ms 92ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) .text_inner2 {
  -webkit-animation: horizontal 1058ms 63ms ease-in-out infinite alternate;
  animation: horizontal 1058ms 63ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) {
  color: #b52843;
  -webkit-clip-path: polygon(93% 47%, 104% 43%, 104% 102%, 93% 109%);
  clip-path: polygon(93% 47%, 104% 43%, 104% 102%, 93% 109%);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.floating-text .text:nth-child(40) .text_inner1 {
  -webkit-animation: vertical 1251ms 96ms ease-in-out infinite alternate;
  animation: vertical 1251ms 96ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) .text_inner2 {
  -webkit-animation: horizontal 702ms 87ms ease-in-out infinite alternate;
  animation: horizontal 702ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) {
  color: #4e2873;
  -webkit-clip-path: polygon(-2% 98%, 6% 83%, 9% 153%, -1% 154%);
  clip-path: polygon(-2% 98%, 6% 83%, 9% 153%, -1% 154%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(41) .text_inner1 {
  -webkit-animation: vertical 1517ms 27ms ease-in-out infinite alternate;
  animation: vertical 1517ms 27ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) .text_inner2 {
  -webkit-animation: horizontal 793ms 45ms ease-in-out infinite alternate;
  animation: horizontal 793ms 45ms ease-in-out infinite alternate;
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
}

@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes vertical {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
/*# sourceMappingURL=floatingText.css.map */
