@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700&amp;subset=cyrillic,cyrillic-ext');
.floating-text {
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.floating-text .inner {
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
}

.floating-text .text {
  position: absolute;
  font-size: 8rem;
  color: #fff;
  line-height: 8rem;
  font-family: 'Anton', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  letter-spacing: 0.5rem;
  overflow: hidden;
}

.floating-text .text:nth-child(1) {
  color: #6f28e4;
  -webkit-clip-path: polygon(-2% -5%, 6% -1%, 8% 51%, -2% 51%);
  clip-path: polygon(-2% -5%, 6% -1%, 8% 51%, -2% 51%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(1) .text_inner1 {
  -webkit-animation: vertical 954ms 38ms ease-in-out infinite alternate;
  animation: vertical 954ms 38ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(1) .text_inner2 {
  -webkit-animation: horizontal 853ms 86ms ease-in-out infinite alternate;
  animation: horizontal 853ms 86ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) {
  color: #b3288e;
  -webkit-clip-path: polygon(4% -2%, 11% -23%, 13% 54%, 3% 64%);
  clip-path: polygon(4% -2%, 11% -23%, 13% 54%, 3% 64%);
  -webkit-filter: blur(-8px);
  filter: blur(-8px);
}

.floating-text .text:nth-child(2) .text_inner1 {
  -webkit-animation: vertical 1371ms 68ms ease-in-out infinite alternate;
  animation: vertical 1371ms 68ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(2) .text_inner2 {
  -webkit-animation: horizontal 1157ms 54ms ease-in-out infinite alternate;
  animation: horizontal 1157ms 54ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) {
  color: #fe28f5;
  -webkit-clip-path: polygon(9% -5%, 20% -24%, 20% 52%, 8% 77%);
  clip-path: polygon(9% -5%, 20% -24%, 20% 52%, 8% 77%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(3) .text_inner1 {
  -webkit-animation: vertical 1405ms 84ms ease-in-out infinite alternate;
  animation: vertical 1405ms 84ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(3) .text_inner2 {
  -webkit-animation: horizontal 715ms 29ms ease-in-out infinite alternate;
  animation: horizontal 715ms 29ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) {
  color: #a42844;
  -webkit-clip-path: polygon(14% -1%, 25% -28%, 22% 51%, 13% 80%);
  clip-path: polygon(14% -1%, 25% -28%, 22% 51%, 13% 80%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(4) .text_inner1 {
  -webkit-animation: vertical 1023ms 9ms ease-in-out infinite alternate;
  animation: vertical 1023ms 9ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(4) .text_inner2 {
  -webkit-animation: horizontal 1137ms 93ms ease-in-out infinite alternate;
  animation: horizontal 1137ms 93ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) {
  color: #3b28d9;
  -webkit-clip-path: polygon(19% -4%, 26% -15%, 29% 52%, 19% 53%);
  clip-path: polygon(19% -4%, 26% -15%, 29% 52%, 19% 53%);
  -webkit-filter: blur(-1px);
  filter: blur(-1px);
}

.floating-text .text:nth-child(5) .text_inner1 {
  -webkit-animation: vertical 1012ms 84ms ease-in-out infinite alternate;
  animation: vertical 1012ms 84ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(5) .text_inner2 {
  -webkit-animation: horizontal 1573ms 59ms ease-in-out infinite alternate;
  animation: horizontal 1573ms 59ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) {
  color: #5228a0;
  -webkit-clip-path: polygon(23% -4%, 33% -13%, 31% 51%, 24% 56%);
  clip-path: polygon(23% -4%, 33% -13%, 31% 51%, 24% 56%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(6) .text_inner1 {
  -webkit-animation: vertical 1278ms 6ms ease-in-out infinite alternate;
  animation: vertical 1278ms 6ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(6) .text_inner2 {
  -webkit-animation: horizontal 1302ms 33ms ease-in-out infinite alternate;
  animation: horizontal 1302ms 33ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) {
  color: #ca28e8;
  -webkit-clip-path: polygon(28% -2%, 37% -18%, 37% 53%, 28% 64%);
  clip-path: polygon(28% -2%, 37% -18%, 37% 53%, 28% 64%);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.floating-text .text:nth-child(7) .text_inner1 {
  -webkit-animation: vertical 1140ms 97ms ease-in-out infinite alternate;
  animation: vertical 1140ms 97ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(7) .text_inner2 {
  -webkit-animation: horizontal 1128ms 11ms ease-in-out infinite alternate;
  animation: horizontal 1128ms 11ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) {
  color: #fb2856;
  -webkit-clip-path: polygon(34% -5%, 43% -20%, 44% 51%, 34% 56%);
  clip-path: polygon(34% -5%, 43% -20%, 44% 51%, 34% 56%);
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.floating-text .text:nth-child(8) .text_inner1 {
  -webkit-animation: vertical 1148ms 24ms ease-in-out infinite alternate;
  animation: vertical 1148ms 24ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(8) .text_inner2 {
  -webkit-animation: horizontal 1254ms 83ms ease-in-out infinite alternate;
  animation: horizontal 1254ms 83ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) {
  color: #4128a0;
  -webkit-clip-path: polygon(39% -5%, 48% -18%, 48% 55%, 38% 74%);
  clip-path: polygon(39% -5%, 48% -18%, 48% 55%, 38% 74%);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.floating-text .text:nth-child(9) .text_inner1 {
  -webkit-animation: vertical 887ms 66ms ease-in-out infinite alternate;
  animation: vertical 887ms 66ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(9) .text_inner2 {
  -webkit-animation: horizontal 1210ms 95ms ease-in-out infinite alternate;
  animation: horizontal 1210ms 95ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) {
  color: #4e2889;
  -webkit-clip-path: polygon(43% -5%, 53% -4%, 54% 54%, 44% 68%);
  clip-path: polygon(43% -5%, 53% -4%, 54% 54%, 44% 68%);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.floating-text .text:nth-child(10) .text_inner1 {
  -webkit-animation: vertical 1171ms 17ms ease-in-out infinite alternate;
  animation: vertical 1171ms 17ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(10) .text_inner2 {
  -webkit-animation: horizontal 892ms 74ms ease-in-out infinite alternate;
  animation: horizontal 892ms 74ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) {
  color: #ed2860;
  -webkit-clip-path: polygon(49% -4%, 58% -4%, 60% 52%, 49% 63%);
  clip-path: polygon(49% -4%, 58% -4%, 60% 52%, 49% 63%);
  -webkit-filter: blur(-6px);
  filter: blur(-6px);
}

.floating-text .text:nth-child(11) .text_inner1 {
  -webkit-animation: vertical 1671ms 11ms ease-in-out infinite alternate;
  animation: vertical 1671ms 11ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(11) .text_inner2 {
  -webkit-animation: horizontal 1445ms 74ms ease-in-out infinite alternate;
  animation: horizontal 1445ms 74ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) {
  color: #9128be;
  -webkit-clip-path: polygon(53% -2%, 61% -12%, 65% 54%, 54% 75%);
  clip-path: polygon(53% -2%, 61% -12%, 65% 54%, 54% 75%);
  -webkit-filter: blur(-9px);
  filter: blur(-9px);
}

.floating-text .text:nth-child(12) .text_inner1 {
  -webkit-animation: vertical 1601ms 15ms ease-in-out infinite alternate;
  animation: vertical 1601ms 15ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(12) .text_inner2 {
  -webkit-animation: horizontal 844ms 76ms ease-in-out infinite alternate;
  animation: horizontal 844ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) {
  color: #8f2896;
  -webkit-clip-path: polygon(59% -2%, 69% -15%, 68% 55%, 59% 74%);
  clip-path: polygon(59% -2%, 69% -15%, 68% 55%, 59% 74%);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.floating-text .text:nth-child(13) .text_inner1 {
  -webkit-animation: vertical 1591ms 70ms ease-in-out infinite alternate;
  animation: vertical 1591ms 70ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(13) .text_inner2 {
  -webkit-animation: horizontal 1126ms 67ms ease-in-out infinite alternate;
  animation: horizontal 1126ms 67ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) {
  color: #57283f;
  -webkit-clip-path: polygon(63% -5%, 72% -28%, 72% 52%, 63% 58%);
  clip-path: polygon(63% -5%, 72% -28%, 72% 52%, 63% 58%);
  -webkit-filter: blur(-9px);
  filter: blur(-9px);
}

.floating-text .text:nth-child(14) .text_inner1 {
  -webkit-animation: vertical 1653ms 46ms ease-in-out infinite alternate;
  animation: vertical 1653ms 46ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(14) .text_inner2 {
  -webkit-animation: horizontal 1535ms 42ms ease-in-out infinite alternate;
  animation: horizontal 1535ms 42ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) {
  color: #7c2846;
  -webkit-clip-path: polygon(68% -4%, 78% -18%, 80% 54%, 69% 72%);
  clip-path: polygon(68% -4%, 78% -18%, 80% 54%, 69% 72%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(15) .text_inner1 {
  -webkit-animation: vertical 987ms 95ms ease-in-out infinite alternate;
  animation: vertical 987ms 95ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(15) .text_inner2 {
  -webkit-animation: horizontal 1201ms 85ms ease-in-out infinite alternate;
  animation: horizontal 1201ms 85ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) {
  color: #3928c6;
  -webkit-clip-path: polygon(74% -3%, 81% -28%, 85% 52%, 74% 55%);
  clip-path: polygon(74% -3%, 81% -28%, 85% 52%, 74% 55%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.floating-text .text:nth-child(16) .text_inner1 {
  -webkit-animation: vertical 1218ms 71ms ease-in-out infinite alternate;
  animation: vertical 1218ms 71ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(16) .text_inner2 {
  -webkit-animation: horizontal 1610ms 84ms ease-in-out infinite alternate;
  animation: horizontal 1610ms 84ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) {
  color: #6d28b6;
  -webkit-clip-path: polygon(79% -5%, 90% -1%, 87% 53%, 79% 56%);
  clip-path: polygon(79% -5%, 90% -1%, 87% 53%, 79% 56%);
  -webkit-filter: blur(-1px);
  filter: blur(-1px);
}

.floating-text .text:nth-child(17) .text_inner1 {
  -webkit-animation: vertical 815ms 88ms ease-in-out infinite alternate;
  animation: vertical 815ms 88ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(17) .text_inner2 {
  -webkit-animation: horizontal 751ms 62ms ease-in-out infinite alternate;
  animation: horizontal 751ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) {
  color: #3f28d4;
  -webkit-clip-path: polygon(84% -5%, 93% -30%, 94% 54%, 83% 58%);
  clip-path: polygon(84% -5%, 93% -30%, 94% 54%, 83% 58%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(18) .text_inner1 {
  -webkit-animation: vertical 900ms 16ms ease-in-out infinite alternate;
  animation: vertical 900ms 16ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(18) .text_inner2 {
  -webkit-animation: horizontal 1273ms 66ms ease-in-out infinite alternate;
  animation: horizontal 1273ms 66ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) {
  color: #be28fc;
  -webkit-clip-path: polygon(88% -5%, 97% -23%, 100% 53%, 89% 53%);
  clip-path: polygon(88% -5%, 97% -23%, 100% 53%, 89% 53%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.floating-text .text:nth-child(19) .text_inner1 {
  -webkit-animation: vertical 1257ms 87ms ease-in-out infinite alternate;
  animation: vertical 1257ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(19) .text_inner2 {
  -webkit-animation: horizontal 1340ms 64ms ease-in-out infinite alternate;
  animation: horizontal 1340ms 64ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) {
  color: #4f2839;
  -webkit-clip-path: polygon(94% -3%, 104% -15%, 105% 54%, 93% 65%);
  clip-path: polygon(94% -3%, 104% -15%, 105% 54%, 93% 65%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(20) .text_inner1 {
  -webkit-animation: vertical 1583ms 52ms ease-in-out infinite alternate;
  animation: vertical 1583ms 52ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(20) .text_inner2 {
  -webkit-animation: horizontal 1344ms 76ms ease-in-out infinite alternate;
  animation: horizontal 1344ms 76ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) {
  color: #8a28de;
  -webkit-clip-path: polygon(-2% 46%, 6% 25%, 7% 101%, -2% 122%);
  clip-path: polygon(-2% 46%, 6% 25%, 7% 101%, -2% 122%);
  -webkit-filter: blur(-1px);
  filter: blur(-1px);
}

.floating-text .text:nth-child(21) .text_inner1 {
  -webkit-animation: vertical 972ms 42ms ease-in-out infinite alternate;
  animation: vertical 972ms 42ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(21) .text_inner2 {
  -webkit-animation: horizontal 1061ms 48ms ease-in-out infinite alternate;
  animation: horizontal 1061ms 48ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) {
  color: #5b28cd;
  -webkit-clip-path: polygon(4% 49%, 13% 35%, 15% 101%, 4% 108%);
  clip-path: polygon(4% 49%, 13% 35%, 15% 101%, 4% 108%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(22) .text_inner1 {
  -webkit-animation: vertical 966ms 71ms ease-in-out infinite alternate;
  animation: vertical 966ms 71ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(22) .text_inner2 {
  -webkit-animation: horizontal 1568ms 87ms ease-in-out infinite alternate;
  animation: horizontal 1568ms 87ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) {
  color: #5c2877;
  -webkit-clip-path: polygon(8% 46%, 16% 27%, 20% 102%, 9% 108%);
  clip-path: polygon(8% 46%, 16% 27%, 20% 102%, 9% 108%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.floating-text .text:nth-child(23) .text_inner1 {
  -webkit-animation: vertical 738ms 94ms ease-in-out infinite alternate;
  animation: vertical 738ms 94ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(23) .text_inner2 {
  -webkit-animation: horizontal 827ms 47ms ease-in-out infinite alternate;
  animation: horizontal 827ms 47ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) {
  color: #aa28e0;
  -webkit-clip-path: polygon(13% 48%, 21% 41%, 22% 104%, 13% 114%);
  clip-path: polygon(13% 48%, 21% 41%, 22% 104%, 13% 114%);
  -webkit-filter: blur(-5px);
  filter: blur(-5px);
}

.floating-text .text:nth-child(24) .text_inner1 {
  -webkit-animation: vertical 911ms 16ms ease-in-out infinite alternate;
  animation: vertical 911ms 16ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(24) .text_inner2 {
  -webkit-animation: horizontal 1243ms 26ms ease-in-out infinite alternate;
  animation: horizontal 1243ms 26ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) {
  color: #d42862;
  -webkit-clip-path: polygon(19% 48%, 30% 47%, 27% 105%, 18% 111%);
  clip-path: polygon(19% 48%, 30% 47%, 27% 105%, 18% 111%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(25) .text_inner1 {
  -webkit-animation: vertical 1276ms 27ms ease-in-out infinite alternate;
  animation: vertical 1276ms 27ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(25) .text_inner2 {
  -webkit-animation: horizontal 921ms 79ms ease-in-out infinite alternate;
  animation: horizontal 921ms 79ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) {
  color: #d128f4;
  -webkit-clip-path: polygon(23% 48%, 31% 26%, 34% 104%, 24% 129%);
  clip-path: polygon(23% 48%, 31% 26%, 34% 104%, 24% 129%);
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.floating-text .text:nth-child(26) .text_inner1 {
  -webkit-animation: vertical 1487ms 21ms ease-in-out infinite alternate;
  animation: vertical 1487ms 21ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(26) .text_inner2 {
  -webkit-animation: horizontal 1167ms 73ms ease-in-out infinite alternate;
  animation: horizontal 1167ms 73ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) {
  color: #a628e0;
  -webkit-clip-path: polygon(29% 47%, 38% 45%, 39% 105%, 29% 115%);
  clip-path: polygon(29% 47%, 38% 45%, 39% 105%, 29% 115%);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.floating-text .text:nth-child(27) .text_inner1 {
  -webkit-animation: vertical 1004ms 44ms ease-in-out infinite alternate;
  animation: vertical 1004ms 44ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(27) .text_inner2 {
  -webkit-animation: horizontal 845ms 60ms ease-in-out infinite alternate;
  animation: horizontal 845ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) {
  color: #7a28a8;
  -webkit-clip-path: polygon(33% 47%, 41% 37%, 41% 103%, 34% 127%);
  clip-path: polygon(33% 47%, 41% 37%, 41% 103%, 34% 127%);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.floating-text .text:nth-child(28) .text_inner1 {
  -webkit-animation: vertical 1410ms 47ms ease-in-out infinite alternate;
  animation: vertical 1410ms 47ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(28) .text_inner2 {
  -webkit-animation: horizontal 1350ms 94ms ease-in-out infinite alternate;
  animation: horizontal 1350ms 94ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) {
  color: #9028fb;
  -webkit-clip-path: polygon(39% 48%, 48% 49%, 50% 101%, 38% 123%);
  clip-path: polygon(39% 48%, 48% 49%, 50% 101%, 38% 123%);
  -webkit-filter: blur(-1px);
  filter: blur(-1px);
}

.floating-text .text:nth-child(29) .text_inner1 {
  -webkit-animation: vertical 1561ms 80ms ease-in-out infinite alternate;
  animation: vertical 1561ms 80ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(29) .text_inner2 {
  -webkit-animation: horizontal 917ms 27ms ease-in-out infinite alternate;
  animation: horizontal 917ms 27ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) {
  color: #e128b2;
  -webkit-clip-path: polygon(44% 47%, 53% 28%, 53% 103%, 44% 121%);
  clip-path: polygon(44% 47%, 53% 28%, 53% 103%, 44% 121%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.floating-text .text:nth-child(30) .text_inner1 {
  -webkit-animation: vertical 1186ms 39ms ease-in-out infinite alternate;
  animation: vertical 1186ms 39ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(30) .text_inner2 {
  -webkit-animation: horizontal 1157ms 64ms ease-in-out infinite alternate;
  animation: horizontal 1157ms 64ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) {
  color: #852871;
  -webkit-clip-path: polygon(49% 46%, 57% 42%, 59% 105%, 49% 113%);
  clip-path: polygon(49% 46%, 57% 42%, 59% 105%, 49% 113%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.floating-text .text:nth-child(31) .text_inner1 {
  -webkit-animation: vertical 1022ms 84ms ease-in-out infinite alternate;
  animation: vertical 1022ms 84ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(31) .text_inner2 {
  -webkit-animation: horizontal 881ms 52ms ease-in-out infinite alternate;
  animation: horizontal 881ms 52ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) {
  color: #bb28d1;
  -webkit-clip-path: polygon(54% 49%, 61% 37%, 64% 103%, 53% 103%);
  clip-path: polygon(54% 49%, 61% 37%, 64% 103%, 53% 103%);
  -webkit-filter: blur(-6px);
  filter: blur(-6px);
}

.floating-text .text:nth-child(32) .text_inner1 {
  -webkit-animation: vertical 1284ms 39ms ease-in-out infinite alternate;
  animation: vertical 1284ms 39ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(32) .text_inner2 {
  -webkit-animation: horizontal 1127ms 90ms ease-in-out infinite alternate;
  animation: horizontal 1127ms 90ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) {
  color: #57287e;
  -webkit-clip-path: polygon(58% 47%, 67% 27%, 69% 104%, 58% 124%);
  clip-path: polygon(58% 47%, 67% 27%, 69% 104%, 58% 124%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.floating-text .text:nth-child(33) .text_inner1 {
  -webkit-animation: vertical 1031ms 17ms ease-in-out infinite alternate;
  animation: vertical 1031ms 17ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(33) .text_inner2 {
  -webkit-animation: horizontal 1428ms 97ms ease-in-out infinite alternate;
  animation: horizontal 1428ms 97ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) {
  color: #ce28b5;
  -webkit-clip-path: polygon(63% 46%, 71% 44%, 71% 103%, 64% 107%);
  clip-path: polygon(63% 46%, 71% 44%, 71% 103%, 64% 107%);
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.floating-text .text:nth-child(34) .text_inner1 {
  -webkit-animation: vertical 833ms 46ms ease-in-out infinite alternate;
  animation: vertical 833ms 46ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(34) .text_inner2 {
  -webkit-animation: horizontal 1532ms 37ms ease-in-out infinite alternate;
  animation: horizontal 1532ms 37ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) {
  color: #d52891;
  -webkit-clip-path: polygon(69% 48%, 77% 28%, 80% 103%, 69% 123%);
  clip-path: polygon(69% 48%, 77% 28%, 80% 103%, 69% 123%);
  -webkit-filter: blur(-4px);
  filter: blur(-4px);
}

.floating-text .text:nth-child(35) .text_inner1 {
  -webkit-animation: vertical 1034ms 30ms ease-in-out infinite alternate;
  animation: vertical 1034ms 30ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(35) .text_inner2 {
  -webkit-animation: horizontal 1621ms 1ms ease-in-out infinite alternate;
  animation: horizontal 1621ms 1ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) {
  color: #672882;
  -webkit-clip-path: polygon(73% 47%, 84% 29%, 85% 101%, 73% 120%);
  clip-path: polygon(73% 47%, 84% 29%, 85% 101%, 73% 120%);
  -webkit-filter: blur(-3px);
  filter: blur(-3px);
}

.floating-text .text:nth-child(36) .text_inner1 {
  -webkit-animation: vertical 827ms 30ms ease-in-out infinite alternate;
  animation: vertical 827ms 30ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(36) .text_inner2 {
  -webkit-animation: horizontal 1252ms 26ms ease-in-out infinite alternate;
  animation: horizontal 1252ms 26ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) {
  color: #9d28a7;
  -webkit-clip-path: polygon(78% 46%, 90% 39%, 87% 102%, 78% 109%);
  clip-path: polygon(78% 46%, 90% 39%, 87% 102%, 78% 109%);
  -webkit-filter: blur(-8px);
  filter: blur(-8px);
}

.floating-text .text:nth-child(37) .text_inner1 {
  -webkit-animation: vertical 970ms 7ms ease-in-out infinite alternate;
  animation: vertical 970ms 7ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(37) .text_inner2 {
  -webkit-animation: horizontal 1211ms 50ms ease-in-out infinite alternate;
  animation: horizontal 1211ms 50ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) {
  color: #f428af;
  -webkit-clip-path: polygon(83% 48%, 95% 34%, 91% 104%, 84% 128%);
  clip-path: polygon(83% 48%, 95% 34%, 91% 104%, 84% 128%);
  -webkit-filter: blur(-4px);
  filter: blur(-4px);
}

.floating-text .text:nth-child(38) .text_inner1 {
  -webkit-animation: vertical 875ms 96ms ease-in-out infinite alternate;
  animation: vertical 875ms 96ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(38) .text_inner2 {
  -webkit-animation: horizontal 1142ms 6ms ease-in-out infinite alternate;
  animation: horizontal 1142ms 6ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) {
  color: #3e2888;
  -webkit-clip-path: polygon(88% 45%, 97% 46%, 96% 104%, 88% 123%);
  clip-path: polygon(88% 45%, 97% 46%, 96% 104%, 88% 123%);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.floating-text .text:nth-child(39) .text_inner1 {
  -webkit-animation: vertical 1671ms 60ms ease-in-out infinite alternate;
  animation: vertical 1671ms 60ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(39) .text_inner2 {
  -webkit-animation: horizontal 1695ms 3ms ease-in-out infinite alternate;
  animation: horizontal 1695ms 3ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) {
  color: #7c28ff;
  -webkit-clip-path: polygon(94% 49%, 101% 32%, 105% 104%, 93% 125%);
  clip-path: polygon(94% 49%, 101% 32%, 105% 104%, 93% 125%);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.floating-text .text:nth-child(40) .text_inner1 {
  -webkit-animation: vertical 1145ms 72ms ease-in-out infinite alternate;
  animation: vertical 1145ms 72ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(40) .text_inner2 {
  -webkit-animation: horizontal 1375ms 62ms ease-in-out infinite alternate;
  animation: horizontal 1375ms 62ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) {
  color: #d728e0;
  -webkit-clip-path: polygon(-2% 99%, 8% 94%, 6% 152%, -2% 173%);
  clip-path: polygon(-2% 99%, 8% 94%, 6% 152%, -2% 173%);
  -webkit-filter: blur(-8px);
  filter: blur(-8px);
}

.floating-text .text:nth-child(41) .text_inner1 {
  -webkit-animation: vertical 949ms 20ms ease-in-out infinite alternate;
  animation: vertical 949ms 20ms ease-in-out infinite alternate;
}

.floating-text .text:nth-child(41) .text_inner2 {
  -webkit-animation: horizontal 848ms 29ms ease-in-out infinite alternate;
  animation: horizontal 848ms 29ms ease-in-out infinite alternate;
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
}

@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes vertical {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

* {
  font-family: 'Arimo', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111111;
  color: #eee;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list table {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list table tr:hover {
  cursor: pointer;
}

.list table tr:hover h5,
.list table tr:hover small,
.list table tr:hover td:first-child span {
  background-color: rgba(86, 40, 243, 0.5);
  color: #eee;
  -webkit-box-shadow: 0 0 0 5px rgba(86, 40, 243, 0.5);
  box-shadow: 0 0 0 5px rgba(86, 40, 243, 0.5);
}

.list table tr:hover td:first-child span {
  right: 0;
}

.list table tr td {
  padding: 0;
  border-bottom: 1.5rem solid transparent;
}

.list table tr td:first-child {
  font-size: 4rem;
  line-height: 4rem;
  text-align: right;
  color: #ef288f;
  font-weight: 600;
  overflow: hidden;
}

.list table tr td:first-child span {
  -webkit-transition: 0.1s right ease-in-out;
  transition: 0.1s right ease-in-out;
  position: relative;
  right: -16px;
}

.list table tr td:last-child h5 {
  display: inline;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 600px;
}

.list table tr td:last-child small {
  font-weight: 100;
  line-height: 2rem;
  color: #bbb;
  position: relative;
  top: -4px;
}

.floating-text.full-screen {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: #111111;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.floating-text.full-screen.fade {
  opacity: 0;
}

.floating-text.full-screen.hidden {
  display: none;
  z-index: 0;
}

.single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single .video {
  width: 100%;
}

.single .detail {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  display: block;
  height: 100vh;
  width: 300px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/*# sourceMappingURL=main.css.map */
