@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700&amp;subset=cyrillic,cyrillic-ext');
#logo {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#logo .inner {
  transform: rotateZ(-4deg);
}

#logo .text {
  position: absolute;
  font-size: 8rem;
  color: #fff;
  line-height: 8rem;
  font-family: 'Anton', sans-serif;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  letter-spacing: 0.5rem;
  overflow: hidden;
}

#logo .text:nth-child(1) {
  color: #512863;
  clip-path: polygon(-2% -1%, 10% -3%, 10% 53%, -1% 55%);
  filter: blur(-5px);
}

#logo .text:nth-child(1) .text_inner1 {
  animation: vertical 1617ms 97ms ease-in-out infinite alternate;
}

#logo .text:nth-child(1) .text_inner2 {
  animation: horizontal 777ms 31ms ease-in-out infinite alternate;
}

#logo .text:nth-child(2) {
  color: #66285f;
  clip-path: polygon(4% -1%, 15% -14%, 12% 52%, 4% 51%);
  filter: blur(7px);
}

#logo .text:nth-child(2) .text_inner1 {
  animation: vertical 1425ms 18ms ease-in-out infinite alternate;
}

#logo .text:nth-child(2) .text_inner2 {
  animation: horizontal 1537ms 22ms ease-in-out infinite alternate;
}

#logo .text:nth-child(3) {
  color: #e62857;
  clip-path: polygon(8% -2%, 20% -29%, 20% 55%, 8% 74%);
  filter: blur(6px);
}

#logo .text:nth-child(3) .text_inner1 {
  animation: vertical 1315ms 1ms ease-in-out infinite alternate;
}

#logo .text:nth-child(3) .text_inner2 {
  animation: horizontal 1211ms 95ms ease-in-out infinite alternate;
}

#logo .text:nth-child(4) {
  color: #8f28ca;
  clip-path: polygon(14% -5%, 25% -1%, 25% 55%, 13% 51%);
  filter: blur(-7px);
}

#logo .text:nth-child(4) .text_inner1 {
  animation: vertical 1206ms 45ms ease-in-out infinite alternate;
}

#logo .text:nth-child(4) .text_inner2 {
  animation: horizontal 1464ms 4ms ease-in-out infinite alternate;
}

#logo .text:nth-child(5) {
  color: #a628ef;
  clip-path: polygon(18% -4%, 30% -21%, 28% 51%, 18% 61%);
  filter: blur(8px);
}

#logo .text:nth-child(5) .text_inner1 {
  animation: vertical 850ms 67ms ease-in-out infinite alternate;
}

#logo .text:nth-child(5) .text_inner2 {
  animation: horizontal 903ms 93ms ease-in-out infinite alternate;
}

#logo .text:nth-child(6) {
  color: #91289b;
  clip-path: polygon(23% -1%, 34% -26%, 34% 55%, 24% 69%);
  filter: blur(10px);
}

#logo .text:nth-child(6) .text_inner1 {
  animation: vertical 1607ms 47ms ease-in-out infinite alternate;
}

#logo .text:nth-child(6) .text_inner2 {
  animation: horizontal 891ms 24ms ease-in-out infinite alternate;
}

#logo .text:nth-child(7) {
  color: #612842;
  clip-path: polygon(28% -1%, 37% -14%, 38% 51%, 29% 61%);
  filter: blur(8px);
}

#logo .text:nth-child(7) .text_inner1 {
  animation: vertical 917ms 93ms ease-in-out infinite alternate;
}

#logo .text:nth-child(7) .text_inner2 {
  animation: horizontal 1028ms 9ms ease-in-out infinite alternate;
}

#logo .text:nth-child(8) {
  color: #dc28af;
  clip-path: polygon(33% -5%, 41% -5%, 41% 53%, 33% 54%);
  filter: blur(-8px);
}

#logo .text:nth-child(8) .text_inner1 {
  animation: vertical 1373ms 25ms ease-in-out infinite alternate;
}

#logo .text:nth-child(8) .text_inner2 {
  animation: horizontal 783ms 42ms ease-in-out infinite alternate;
}

#logo .text:nth-child(9) {
  color: #ad28f7;
  clip-path: polygon(38% -2%, 48% -17%, 50% 53%, 39% 75%);
  filter: blur(3px);
}

#logo .text:nth-child(9) .text_inner1 {
  animation: vertical 1235ms 66ms ease-in-out infinite alternate;
}

#logo .text:nth-child(9) .text_inner2 {
  animation: horizontal 1108ms 90ms ease-in-out infinite alternate;
}

#logo .text:nth-child(10) {
  color: #ec28be;
  clip-path: polygon(43% -1%, 55% -26%, 55% 52%, 43% 62%);
  filter: blur(5px);
}

#logo .text:nth-child(10) .text_inner1 {
  animation: vertical 1200ms 42ms ease-in-out infinite alternate;
}

#logo .text:nth-child(10) .text_inner2 {
  animation: horizontal 1500ms 4ms ease-in-out infinite alternate;
}

#logo .text:nth-child(11) {
  color: #912839;
  clip-path: polygon(49% -1%, 60% -4%, 57% 52%, 49% 64%);
  filter: blur(-6px);
}

#logo .text:nth-child(11) .text_inner1 {
  animation: vertical 865ms 78ms ease-in-out infinite alternate;
}

#logo .text:nth-child(11) .text_inner2 {
  animation: horizontal 1132ms 71ms ease-in-out infinite alternate;
}

#logo .text:nth-child(12) {
  color: #8128e3;
  clip-path: polygon(53% -4%, 65% -22%, 63% 52%, 54% 57%);
  filter: blur(9px);
}

#logo .text:nth-child(12) .text_inner1 {
  animation: vertical 1526ms 22ms ease-in-out infinite alternate;
}

#logo .text:nth-child(12) .text_inner2 {
  animation: horizontal 1473ms 66ms ease-in-out infinite alternate;
}

#logo .text:nth-child(13) {
  color: #7c2842;
  clip-path: polygon(59% -3%, 70% -11%, 67% 51%, 59% 52%);
  filter: blur(1px);
}

#logo .text:nth-child(13) .text_inner1 {
  animation: vertical 719ms 28ms ease-in-out infinite alternate;
}

#logo .text:nth-child(13) .text_inner2 {
  animation: horizontal 1634ms 13ms ease-in-out infinite alternate;
}

#logo .text:nth-child(14) {
  color: #9928b6;
  clip-path: polygon(64% -1%, 75% -9%, 72% 55%, 63% 51%);
  filter: blur(4px);
}

#logo .text:nth-child(14) .text_inner1 {
  animation: vertical 745ms 88ms ease-in-out infinite alternate;
}

#logo .text:nth-child(14) .text_inner2 {
  animation: horizontal 728ms 59ms ease-in-out infinite alternate;
}

#logo .text:nth-child(15) {
  color: #5a28b7;
  clip-path: polygon(68% -4%, 78% -21%, 80% 55%, 68% 79%);
  filter: blur(3px);
}

#logo .text:nth-child(15) .text_inner1 {
  animation: vertical 719ms 72ms ease-in-out infinite alternate;
}

#logo .text:nth-child(15) .text_inner2 {
  animation: horizontal 1658ms 39ms ease-in-out infinite alternate;
}

#logo .text:nth-child(16) {
  color: #612844;
  clip-path: polygon(73% -2%, 84% -21%, 81% 51%, 74% 62%);
  filter: blur(9px);
}

#logo .text:nth-child(16) .text_inner1 {
  animation: vertical 1444ms 47ms ease-in-out infinite alternate;
}

#logo .text:nth-child(16) .text_inner2 {
  animation: horizontal 1130ms 69ms ease-in-out infinite alternate;
}

#logo .text:nth-child(17) {
  color: #a728e7;
  clip-path: polygon(78% -1%, 87% -13%, 89% 52%, 79% 74%);
  filter: blur(-3px);
}

#logo .text:nth-child(17) .text_inner1 {
  animation: vertical 1514ms 55ms ease-in-out infinite alternate;
}

#logo .text:nth-child(17) .text_inner2 {
  animation: horizontal 1178ms 70ms ease-in-out infinite alternate;
}

#logo .text:nth-child(18) {
  color: #db28e6;
  clip-path: polygon(83% -2%, 93% -25%, 94% 52%, 83% 66%);
  filter: blur(5px);
}

#logo .text:nth-child(18) .text_inner1 {
  animation: vertical 1011ms 6ms ease-in-out infinite alternate;
}

#logo .text:nth-child(18) .text_inner2 {
  animation: horizontal 1091ms 96ms ease-in-out infinite alternate;
}

#logo .text:nth-child(19) {
  color: #f3288f;
  clip-path: polygon(89% -3%, 100% -27%, 96% 54%, 89% 79%);
  filter: blur(10px);
}

#logo .text:nth-child(19) .text_inner1 {
  animation: vertical 1359ms 10ms ease-in-out infinite alternate;
}

#logo .text:nth-child(19) .text_inner2 {
  animation: horizontal 1647ms 92ms ease-in-out infinite alternate;
}

#logo .text:nth-child(20) {
  color: #e428b7;
  clip-path: polygon(94% -5%, 103% -5%, 105% 53%, 94% 75%);
  filter: blur(-3px);
}

#logo .text:nth-child(20) .text_inner1 {
  animation: vertical 1052ms 97ms ease-in-out infinite alternate;
}

#logo .text:nth-child(20) .text_inner2 {
  animation: horizontal 1202ms 35ms ease-in-out infinite alternate;
}

#logo .text:nth-child(21) {
  color: #a528af;
  clip-path: polygon(-2% 48%, 6% 28%, 10% 103%, -1% 106%);
  filter: blur(6px);
}

#logo .text:nth-child(21) .text_inner1 {
  animation: vertical 1673ms 89ms ease-in-out infinite alternate;
}

#logo .text:nth-child(21) .text_inner2 {
  animation: horizontal 818ms 6ms ease-in-out infinite alternate;
}

#logo .text:nth-child(22) {
  color: #e828df;
  clip-path: polygon(4% 47%, 11% 44%, 12% 102%, 3% 113%);
  filter: blur(-9px);
}

#logo .text:nth-child(22) .text_inner1 {
  animation: vertical 1558ms 22ms ease-in-out infinite alternate;
}

#logo .text:nth-child(22) .text_inner2 {
  animation: horizontal 959ms 8ms ease-in-out infinite alternate;
}

#logo .text:nth-child(23) {
  color: #ee28da;
  clip-path: polygon(9% 48%, 18% 23%, 20% 104%, 9% 121%);
  filter: blur(-3px);
}

#logo .text:nth-child(23) .text_inner1 {
  animation: vertical 1211ms 64ms ease-in-out infinite alternate;
}

#logo .text:nth-child(23) .text_inner2 {
  animation: horizontal 1319ms 2ms ease-in-out infinite alternate;
}

#logo .text:nth-child(24) {
  color: #4c287d;
  clip-path: polygon(14% 48%, 22% 30%, 22% 105%, 14% 130%);
  filter: blur(-2px);
}

#logo .text:nth-child(24) .text_inner1 {
  animation: vertical 1478ms 77ms ease-in-out infinite alternate;
}

#logo .text:nth-child(24) .text_inner2 {
  animation: horizontal 965ms 32ms ease-in-out infinite alternate;
}

#logo .text:nth-child(25) {
  color: #8e28d9;
  clip-path: polygon(18% 46%, 30% 29%, 27% 103%, 19% 111%);
  filter: blur(-7px);
}

#logo .text:nth-child(25) .text_inner1 {
  animation: vertical 1563ms 80ms ease-in-out infinite alternate;
}

#logo .text:nth-child(25) .text_inner2 {
  animation: horizontal 1263ms 66ms ease-in-out infinite alternate;
}

#logo .text:nth-child(26) {
  color: #bf2896;
  clip-path: polygon(23% 48%, 33% 28%, 34% 102%, 24% 105%);
  filter: blur(-4px);
}

#logo .text:nth-child(26) .text_inner1 {
  animation: vertical 1366ms 23ms ease-in-out infinite alternate;
}

#logo .text:nth-child(26) .text_inner2 {
  animation: horizontal 1564ms 9ms ease-in-out infinite alternate;
}

#logo .text:nth-child(27) {
  color: #39283a;
  clip-path: polygon(28% 45%, 39% 48%, 37% 104%, 29% 104%);
  filter: blur(6px);
}

#logo .text:nth-child(27) .text_inner1 {
  animation: vertical 1549ms 62ms ease-in-out infinite alternate;
}

#logo .text:nth-child(27) .text_inner2 {
  animation: horizontal 803ms 51ms ease-in-out infinite alternate;
}

#logo .text:nth-child(28) {
  color: #f828b8;
  clip-path: polygon(34% 46%, 43% 45%, 44% 103%, 34% 123%);
  filter: blur(10px);
}

#logo .text:nth-child(28) .text_inner1 {
  animation: vertical 1544ms 19ms ease-in-out infinite alternate;
}

#logo .text:nth-child(28) .text_inner2 {
  animation: horizontal 1208ms 50ms ease-in-out infinite alternate;
}

#logo .text:nth-child(29) {
  color: #b9283f;
  clip-path: polygon(39% 45%, 49% 25%, 48% 101%, 38% 108%);
  filter: blur(6px);
}

#logo .text:nth-child(29) .text_inner1 {
  animation: vertical 1575ms 29ms ease-in-out infinite alternate;
}

#logo .text:nth-child(29) .text_inner2 {
  animation: horizontal 806ms 99ms ease-in-out infinite alternate;
}

#logo .text:nth-child(30) {
  color: #da28fc;
  clip-path: polygon(43% 48%, 54% 36%, 52% 102%, 44% 126%);
  filter: blur(2px);
}

#logo .text:nth-child(30) .text_inner1 {
  animation: vertical 709ms 89ms ease-in-out infinite alternate;
}

#logo .text:nth-child(30) .text_inner2 {
  animation: horizontal 963ms 51ms ease-in-out infinite alternate;
}

#logo .text:nth-child(31) {
  color: #b1288e;
  clip-path: polygon(48% 47%, 59% 47%, 56% 104%, 48% 128%);
  filter: blur(-2px);
}

#logo .text:nth-child(31) .text_inner1 {
  animation: vertical 1059ms 28ms ease-in-out infinite alternate;
}

#logo .text:nth-child(31) .text_inner2 {
  animation: horizontal 860ms 2ms ease-in-out infinite alternate;
}

#logo .text:nth-child(32) {
  color: #d42857;
  clip-path: polygon(53% 46%, 64% 22%, 63% 103%, 53% 129%);
  filter: blur(-7px);
}

#logo .text:nth-child(32) .text_inner1 {
  animation: vertical 809ms 47ms ease-in-out infinite alternate;
}

#logo .text:nth-child(32) .text_inner2 {
  animation: horizontal 838ms 83ms ease-in-out infinite alternate;
}

#logo .text:nth-child(33) {
  color: #d928b5;
  clip-path: polygon(59% 49%, 67% 40%, 66% 101%, 58% 109%);
  filter: blur(-3px);
}

#logo .text:nth-child(33) .text_inner1 {
  animation: vertical 1203ms 62ms ease-in-out infinite alternate;
}

#logo .text:nth-child(33) .text_inner2 {
  animation: horizontal 1114ms 2ms ease-in-out infinite alternate;
}

#logo .text:nth-child(34) {
  color: #7d284c;
  clip-path: polygon(63% 46%, 71% 32%, 75% 103%, 63% 124%);
  filter: blur(-6px);
}

#logo .text:nth-child(34) .text_inner1 {
  animation: vertical 871ms 44ms ease-in-out infinite alternate;
}

#logo .text:nth-child(34) .text_inner2 {
  animation: horizontal 1211ms 84ms ease-in-out infinite alternate;
}

#logo .text:nth-child(35) {
  color: #f62875;
  clip-path: polygon(69% 46%, 80% 41%, 80% 102%, 68% 118%);
  filter: blur(3px);
}

#logo .text:nth-child(35) .text_inner1 {
  animation: vertical 1380ms 89ms ease-in-out infinite alternate;
}

#logo .text:nth-child(35) .text_inner2 {
  animation: horizontal 1128ms 19ms ease-in-out infinite alternate;
}

#logo .text:nth-child(36) {
  color: #6128c6;
  clip-path: polygon(74% 48%, 83% 46%, 84% 102%, 74% 118%);
  filter: blur(5px);
}

#logo .text:nth-child(36) .text_inner1 {
  animation: vertical 1073ms 38ms ease-in-out infinite alternate;
}

#logo .text:nth-child(36) .text_inner2 {
  animation: horizontal 1227ms 17ms ease-in-out infinite alternate;
}

#logo .text:nth-child(37) {
  color: #e8284d;
  clip-path: polygon(78% 49%, 90% 20%, 90% 101%, 78% 129%);
  filter: blur(7px);
}

#logo .text:nth-child(37) .text_inner1 {
  animation: vertical 1679ms 71ms ease-in-out infinite alternate;
}

#logo .text:nth-child(37) .text_inner2 {
  animation: horizontal 749ms 19ms ease-in-out infinite alternate;
}

#logo .text:nth-child(38) {
  color: #79286e;
  clip-path: polygon(84% 45%, 94% 26%, 91% 105%, 84% 116%);
  filter: blur(7px);
}

#logo .text:nth-child(38) .text_inner1 {
  animation: vertical 1646ms 83ms ease-in-out infinite alternate;
}

#logo .text:nth-child(38) .text_inner2 {
  animation: horizontal 802ms 67ms ease-in-out infinite alternate;
}

#logo .text:nth-child(39) {
  color: #af2865;
  clip-path: polygon(88% 45%, 99% 23%, 96% 102%, 88% 116%);
  filter: blur(3px);
}

#logo .text:nth-child(39) .text_inner1 {
  animation: vertical 1634ms 30ms ease-in-out infinite alternate;
}

#logo .text:nth-child(39) .text_inner2 {
  animation: horizontal 879ms 36ms ease-in-out infinite alternate;
}

#logo .text:nth-child(40) {
  color: #b528ca;
  clip-path: polygon(93% 49%, 102% 37%, 104% 102%, 94% 104%);
  filter: blur(7px);
}

#logo .text:nth-child(40) .text_inner1 {
  animation: vertical 1386ms 47ms ease-in-out infinite alternate;
}

#logo .text:nth-child(40) .text_inner2 {
  animation: horizontal 853ms 2ms ease-in-out infinite alternate;
}

#logo .text:nth-child(41) {
  color: #bc283e;
  clip-path: polygon(-1% 95%, 8% 72%, 9% 151%, -1% 163%);
  filter: blur(1px);
}

#logo .text:nth-child(41) .text_inner1 {
  animation: vertical 1404ms 23ms ease-in-out infinite alternate;
}

#logo .text:nth-child(41) .text_inner2 {
  animation: horizontal 1231ms 89ms ease-in-out infinite alternate;
}

@keyframes horizontal {
  0% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-6px);
  }
}

@keyframes vertical {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

* {
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
  background-color: #111111;
  color: #eee;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list table {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list table tr:hover {
  cursor: pointer;
}

.list table tr:hover h5,
.list table tr:hover small,
.list table tr:hover td:first-child span {
  background-color: rgba(86, 40, 243, 0.5);
  color: #eee;
  box-shadow: 0 0 0 5px rgba(86, 40, 243, 0.5);
}

.list table tr:hover td:first-child span {
  right: 0;
}

.list table tr td {
  padding: 0;
  border-bottom: 1.5rem solid transparent;
}

.list table tr td:first-child {
  font-size: 4rem;
  line-height: 4rem;
  text-align: right;
  color: #ef288f;
  font-weight: 600;
  overflow: hidden;
}

.list table tr td:first-child span {
  transition: 0.1s right ease-in-out;
  position: relative;
  right: -16px;
}

.list table tr td:last-child h5 {
  display: inline;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 600px;
}

.list table tr td:last-child small {
  font-weight: 100;
  line-height: 2rem;
  color: #bbb;
  position: relative;
  top: -4px;
}
/*# sourceMappingURL=main.css.map */
